<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>관리자 페이지</title>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <!-- Header -->
  <header class="header">
    <h1>관리자 페이지</h1>
  </header>

  <!-- Main content area -->
  <div class="main-content">
    <div class="button-grid">
      <a class="button" href="/admin/user">유저 정보 관리</a>
      <a class="button" href="/admin/store">가게 정보 관리</a>
      <a class="button" href="/admin/notice">공지사항 관리</a>
      <!--      <a class="button" href="/admin/order">커뮤니티 관리</a>-->
      <a class="button" href="/admin/category">카테고리 정보 관리</a>
      <a class="button" href="/admin/territory">지역 정보 관리</a>
      <a class="button" href="/admin/order">주문 관리</a>
    </div>
  </div>

</div>


</body>
</html>