<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>주문 관리</title>
  <link href="/css/list-styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <!-- 페이지 제목 -->
  <header class="page-header">
    <h1>주문 관리</h1>
    <div class="breadcrumb">
      <a href="/admin">홈으로</a>
    </div>
  </header>

  <div class="content">
    <!-- 테이블 상단의 기능 버튼들 -->
    <div class="table-controls">
      <div class="search-box">
        <label for="search">Search:</label>
        <input id="search" placeholder="검색어를 입력하세요" type="text">
      </div>
    </div>

    <table class="data-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>주문 상태</th>
        <th>도로명</th>
        <th>상세 주소</th>
        <th>삭제 여부</th>
        <th>생성 날짜</th>
        <th>주문 강제 취소</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order, stat : ${list}">
        <td th:text="${order.id}">1</td>
        <td th:text="${order.status}">주문 상태</td>
        <td th:text="${order.address.roadAddress}">도로명 주소</td>
        <td th:text="${order.address.detailAddress}">상세 주소</td>
        <td th:if="${order.deletedAt != null}"
            th:text="${#temporals.format(order.deletedAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:if="${order.deletedAt == null}"></td>
        <td th:text="${#temporals.format(order.createdAt, 'yyyy-MM-dd HH:mm')}">2024-08-08</td>
        <td th:if="${!#strings.equals(order.status, 'CANCELED')}">
          <button class="d-button"
                  th:onclick="cancelOrder(this.getAttribute('orderId'))"
                  th:orderId="${order.id}">주문 강제 종료
          </button>
        </td>
        <td th:if="${#strings.equals(order.status, 'CANCELED')}">
          <!-- 닫혔으면 아무것도 하지 않는다. -->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  function cancelOrder(id) {
    if (!confirm('정말 주문을 취소 시키시겠습니까?')) {
        return;
    }

    // API 호출
    fetch('/orders/' + id , {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('네트워크 응답이 올바르지 않습니다: ' + response.statusText);
        }
        return response.json();
    })
    .then(data => {
        console.log('취소 성공:', data);

        location.reload(true);
    })
    .catch(error => {
        console.error('삭제 취소 중 오류 발생:', error);
        alert('삭제 취소에 실패했습니다. 다시 시도해주세요.');
    });
  }
</script>

</body>
</html>