<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>가게 관리</title>
  <link href="/css/list-styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <!-- 페이지 제목 -->
  <header class="page-header">
    <h1>가게 관리</h1>
    <div class="breadcrumb">
      <a href="/admin">홈으로</a>
    </div>
  </header>

  <div class="content">
    <!-- 테이블 상단의 기능 버튼들 -->
    <div class="table-controls">
      <div class="search-box">
        <label for="search">Search:</label>
        <input id="search" placeholder="검색어를 입력하세요" type="text">
      </div>
    </div>

    <table class="data-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>제목</th>
        <th>설명</th>
        <th>상태</th>
        <th>삭제 여부</th>
        <th>생성 날짜</th>
        <th>가게 닫힘 설정</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="store, stat : ${list}">
        <td th:text="${store.id}">1</td>
        <td th:text="${store.title}">가게 제목</td>
        <td th:text="${store.description}">가게 설명</td>
        <td th:text="${store.status}">가게 상태</td>
        <td th:if="${store.deletedAt != null}"
            th:text="${#temporals.format(store.deletedAt, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:if="${store.deletedAt == null}"></td>
        <td th:text="${#temporals.format(store.createdAt, 'yyyy-MM-dd HH:mm')}">2024-08-08</td>
        <td th:if="${!#strings.equals(store.status, 'CLOSE')}">
          <button class="d-button"
                  th:onclick="closeStore(this.getAttribute('storeId'))"
                  th:storeId="${store.id}">가게 영업 중지
          </button>
        </td>
        <td th:if="${#strings.equals(store.status, 'CLOSE')}">
          <!-- 닫혔으면 아무것도 하지 않는다. -->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  function closeStore(id) {
    if (!confirm('정말 가게를 영업 중지 시키시겠습니까?')) {
        return;
    }

    // API 호출
    fetch('/stores/' + id + '/status', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ "status": "CLOSE" })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('네트워크 응답이 올바르지 않습니다: ' + response.statusText);
        }
        return response.json();
    })
    .then(data => {
        console.log('취소 성공:', data);

        location.reload(true);
    })
    .catch(error => {
        console.error('삭제 취소 중 오류 발생:', error);
        alert('삭제 취소에 실패했습니다. 다시 시도해주세요.');
    });
  }
</script>

</body>
</html>